<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Error</title>
		<link rel="stylesheet" href="styles/styles.css" />
	</head>
	<body>
		<div class="container">
			<img src="styles/logo.webp" alt="Logo" class="logo" />

			<div class="alert alert-danger text-center">
				<h2>Ошибка регистрации</h2>
				<p>Эта ссылка уже была использована для регистрации.</p>
				<p>
					Если вы регистрируетесь по ней впервые, пожалуйста, обратитесь к
					организаторам мероприятия для получения помощи.
				</p>
			</div>
		</div>
	</body>
</html>
