<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Success</title>
		<link rel="stylesheet" href="styles/styles.css" />
	</head>
	<body>
		<div class="container">
			<img src="styles/logo.webp" alt="Logo" class="logo" />

			<div class="alert alert-success text-center">
				<h2>Регистрация прошла успешно.</h2>
				<p>
					Теперь на вашем счёте 1000 бонусных баллов, которые можно потратить на
					кофе в нашей кофейне.
				</p>
				<p>
					Для использования достаточно прийти к нам в кофейню и назвать свои
					данные.
				</p>
				<p>
					Для вашего удобства, вы также можете добавить виртуальную карту с
					бонусами в свой кошелек, чтобы всегда иметь доступ к своим баллам и
					пользоваться нашей системой лояльности.
				</p>
				<p>
					Для этого просто
					<a href="https://hp.loyallyst.com">установите карту в кошелек</a>.
				</p>
			</div>
		</div>
	</body>
</html>
